/* CSS 코드를 모듈화하고 스타일 시트를 섹션별로 분리하여 관리. (코드의 가독성과 유지보수성을 높여줌) */

@charset "UTF-8";
html, body {
    background: #2E3A4E;
    margin: 0;
    padding: 0;
}

/* setting */
@import "setting/fonts";

/* section */
@import "section/header";
@import "section/intro";
@import "section/skill";
@import "section/portfolio";
@import "section/selfstudy";
@import "section/contact";
@import "section/footer";
@import "section/education";