#header {
    width: 100%;

    .header_nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            gap: 10px;
            list-style: none;
            padding: 0; // navbar 버튼을 감싸는 wrap 앞 공백 없애기
            margin: 0; // navbar 버튼을 감싸는 wrap 위아래 공백 없애기
        }

        .nav_wrapper {
            background-color: rgba(255, 255, 255, 0.1);
            padding: 0.5rem 1rem;
            border-radius: 45px;
            display: inline-block;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // 그림자 효과
            backdrop-filter: blur(10px); // 유리 느낌
            margin-top: 2rem;
        }
    }
}

.header_nav button {
    background: rgba(255, 255, 255, 0);
    color: #ccc;
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 999px;
    padding: 8px 18px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    text-transform: uppercase;
    letter-spacing: 0.5px; // 문자와 문자 사이 간격(자간) 조정
}

.header_nav button:hover {
    background: rgba(255, 255, 255, 0.25);
    color: #2E3A4E;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

.header_nav .active {
    background: #465A78;
    color: #EDF3FA;
    border-color: #9FD8F9;
    font-weight: bold;
}