.intro_content {
    position: relative;
    text-align: center;
    background: #6182AB;
    min-height: 100vh;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    align-content: center;
    color: #ccc;
    
    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-top: 7rem;
    }

    .intro_text {
        margin-top: 5rem;
        margin-bottom: 10rem;
        color: #ccc;
        
        p {
            margin: 0.3rem 0;
        }
    }
}