.intro_content {
    position: relative;
    z-index: 5; //닫히는 배경보다 위에 위치
    text-align: center;

    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-top: 5rem;
    }

    .intro_text {
        margin-top: 5rem;
        margin-bottom: 10rem;
        color: #ccc;
        
        p {
            margin: 0.3rem 0;
        }
    }

    .intro_img {
        margin-top: 5.0rem;
        width: 100%;
        display: flex;
        justify-content: center;

        img{
            width: auto;
            max-width: 100%;
            height: auto;
            max-height: 80vh;
            object-fit: cover;
        }
    }
}