.intro_section {
    position: relative;
    text-align: center;
    background: #6182AB;
    min-height: 100vh;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    align-content: center;
    color: #EDF3FA;
    
    h1 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-top: 7rem;
    }

    .intro_text {
        margin-top: 5rem;
        margin-bottom: 10rem;
        color: #ccc;
        font-size: 1.5rem;
        
        p {
            margin: 0.3rem 0;
        }
    }

    .arrow {
        font-size: 2rem;
        animation: bounce 1.5s infinite;
        display: inline-block;
        transition: opacity 0.5s ease;
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(10px);
        }
    }
}