// 스포카 한 산스
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

// 나눔스퀘어라운드
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


